.chatbot-container {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 30px;
  right: 30px;
  max-height: 600px;
  height: 100%;
  max-width: 400px;
  width: 100%;
  z-index: 9999;
  border-radius: 15px;
  padding: 20px;
  background: opacity(0.8);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.chatbox {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}

.suggested-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.question-button {
  background-color: #257180;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.question-button:hover {
  background-color: #fd8b51;
}

.messages-container {
  max-height: 340px;
  overflow-y: auto;
  margin-top: 220px;
  border-bottom-left-radius: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0 10px;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.message div {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  line-height: 1.4;
}

.message div:first-child {
  align-self: flex-end;
  background-color: #fd8b51;
  color: white;
}

.message div:last-child {
  align-self: flex-start;
  background-color: #cb6040;
  color: white;
}

.user-message {
  background-color: #fd8b51;
  color: white;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-end;
  max-width: 70%;
  margin-bottom: 6px;
}

.bot-message {
  background-color: #257180;
  color: white;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
  max-width: 70%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
