.booking-form,
.booking-form .dropdowns,
.booking-form .dropdowns .dropdown-filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  margin: 15px auto;
}

.booking-form .dropdowns,
.booking-form .dropdowns .dropdown-filter {
  align-items: flex-start;
  margin: 0;
}

.booking-form .dropdowns .dropdown-filter label {
  margin: 0;
}

.booking-form .dropdowns .dropdown-filter select {
  margin: 0;
  width: 100%;
}

.booking-form label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.booking-form input,
.booking-form textarea,
.booking-form .description-text {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.booking-form textarea {
  min-height: 150px;
  max-width: 100%;
}

.booking-form button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.booking-form button:hover {
  background-color: var(--color-secondary);
}

.success-message {
  color: green;
  font-size: 14px;
}

.error-message-service-title {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}
