:root {
  --color-primary: #257180; /* Turquoise pour le texte principal et les titres */
  --color-secondary: #fd8b51; /* Orange pour les éléments interactifs et les boutons */
  --color-background: #f2e5bf; /* Jaune pâle pour l'arrière-plan */
  --color-text: #4a4a4a; /* Couleur du texte, vous pouvez l'ajuster pour améliorer le contraste si nécessaire */
  --color-border: #e1e1e1; /* Bordures, vous pouvez le garder ou ajuster selon vos besoins */
  --color-shadow: rgba(0, 0, 0, 0.1); /* Ombres, inchangées */
  /* --color-background: #ffffff;  */
  --color-error: #cb6040; /* Rouge pour les messages d'erreur */
  --font-family: "Roboto", sans-serif; /* Police */
}

/* Appliquer un reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Style général de l'application */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

/* Ajout de transitions globales */
body,
.navbar ul li a,
.service-item {
  transition: all 0.3s ease;
}
