.benefit-item {
  max-width: 350px;
  text-align: center;
  margin: 20px 10px;
}

.benefit-item img {
  width: 50%;
  margin-bottom: 20px;
}

.benefit-icon {
  width: 100px;
  border: 10px solid var(--color-secondary);
  border-radius: 50%;
  padding: 1rem;
}

@media (max-width: 600px) {
  .benefit-item img {
    max-width: 100px;
  }
  .benefit-icon {
    border: 8px solid var(--color-secondary);
  }
}
